#proposal{'ng-controller' => 'PitchCtrl', data: {id: @proposal.id}}
  .row
    .span3
      #sidebar
        .well.well-small
          %table.table.table-condensed
            %thead
              %tr
                %td Proposal #
                %th.align-right {{proposal.number}}
            %tbody
              %tr
                %td{colspan: 2}
                  %input.minimal{type: 'text',
                    'ng-model'  => 'proposal.customer_name',
                    'ng-change' => 'proposal.rate_save()',
                    placeholder: 'Customer name'}
              %tr
                %td{colspan: 2}
                  %input.minimal{type: 'text',
                    'ng-model'  => 'proposal.description',
                    'ng-change' => 'proposal.rate_save()',
                    placeholder: 'Description'}
              %tr
                %td Subtotal
                %th.align-right {{proposal.subtotal() | currency}}
              %tr
                %td Tax
                %th.align-right {{proposal.tax() | currency}}
              %tr
                %td Total
                %th.align-right {{proposal.total() | currency}}
        .btn-group.pull-left
          %button.btn.btn-small{'ng-click' => 'createRow()'} + Row
        .btn-group.pull-right
          %a.btn.btn-small.dropdown-toggle{data: {toggle:"dropdown"}, href: "#"}
            %i.icon-cog
          %ul.dropdown-menu
            %li
              = link_to "Delete", proposal_path(proposal),
            data: { confirm: "Are you sure you wish to delete this proposal?" },
            method: 'delete'
    .span9
      %ul#list.unstyled{'ui-sortable' => 'sortableOptions',
        'ng:model' => 'proposal.rows'}
        %li.prow{'ng-repeat' => "row in proposal.rows | orderBy:'position'",
          data: {id: "{{row.id}}"}}
          = render 'row'
